{% extends "layout.html" %}

{% macro fileinput(id) %}
    <div class="input-group">
        <label class="btn btn-default btn-file input-group-addon">
            Browse... <input type="file" name="{{ id }}" id="{{ id }}" style="display: none" onchange="optionChanged()"/>
        </label>
        <span id="{{ id }}_label" class="form-control"/>
    </div>
{% endmacro %}

{% block title %}Select Input Files{% endblock %}
{% block body %}
Select the input file and options for how to model it.
<p/>
<form method="post" enctype="multipart/form-data" action="{{ url_for('configureFiles') }}" class="form-horizontal">
    <div class="form-group">
    <label for="filename" class="control-label col-md-2">Input File</label>
        <div class="col-md-10">{{ fileinput('file') }}</div>
    </div>
    <div class="form-group">
    <label for="forcefield" class="control-label col-md-2">Force Field</label>
    <div class="col-md-10"><select name="forcefield" id="forcefield" class="form-control" onchange="optionChanged()">
        <option value="amber19-all.xml" selected>AMBER19</option>
        <option value="amber14-all.xml">AMBER14</option>
        <option value="amoeba2018.xml">AMOEBA 2018</option>
        <option value="charmm36_2024.xml">CHARMM36 2024</option>
        <option value="charmm36.xml">CHARMM36 2014</option>
        <option value="charmm_polar_2023.xml">CHARMM Polar 2023</option>
        <option value="charmm_polar_2019.xml">CHARMM Polar 2019</option>
    </select></div>
    </div>
    <div id="waterModelRow" class="form-group">
        <label for="waterModel" class="control-label col-md-2">Water Model</label>
        <div class="col-md-10"><select name="waterModel" id="waterModel" class="form-control"></select></div>
    </div>
    <p>PDB files often need to be cleaned up before they can be simulated.  For example, you may need to
    add missing atoms, remove unwanted chains, or add a water box.  Do you want to do this now?</p>
    <div style="margin-left:50px"><label class="control-label"><input type="radio" name="cleanup" value="no" checked/> No.</label> My file is all ready to simulate.</div>
    <div style="margin-left:50px"><label class="control-label"><input type="radio" name="cleanup" value="yes"/> Yes.</label> Let's clean it up now.</div>
    <br/>
    <input type="submit" value="Continue" id="continue" class="btn" disabled="true"/>
</form>
<script>
var amber14WaterModels = [
        ["amber14/tip3p.xml", "TIP3P", false],
        ["amber14/tip3pfb.xml", "TIP3P-FB", true],
        ["amber14/spce.xml", "SPC/E", false],
        ["amber14/tip4pew.xml", "TIP4P-Ew", false],
        ["amber14/tip4pfb.xml", "TIP4P-FB", false],
        ["implicit/obc2.xml", "OBC (implicit solvent)", false],
        ["implicit/GBn.xml", "GBn (implicit solvent)", false],
        ["implicit/GBn2.xml", "GBn2 (implicit solvent)", false]
]

var amber19WaterModels = [
        ["amber19/tip3p.xml", "TIP3P", false],
        ["amber19/tip3pfb.xml", "TIP3P-FB", true],
        ["amber19/spce.xml", "SPC/E", false],
        ["amber19/tip4pew.xml", "TIP4P-Ew", false],
        ["amber19/tip4pfb.xml", "TIP4P-FB", false],
        ["implicit/obc2.xml", "OBC (implicit solvent)", false],
        ["implicit/GBn.xml", "GBn (implicit solvent)", false],
        ["implicit/GBn2.xml", "GBn2 (implicit solvent)", false]
]

var charmm36WaterModels = [
        ["charmm36/water.xml", "CHARMM default", true],
        ["charmm36/tip3p-pme-b.xml", "TIP3P-PME-B", false],
        ["charmm36/tip3p-pme-f.xml", "TIP3P-PME-F", false],
        ["charmm36/spce.xml", "SPC/E", false],
        ["charmm36/tip4pew.xml", "TIP4P-Ew", false],
        ["charmm36/tip4p2005.xml", "TIP4P-2005", false],
        ["charmm36/tip5p.xml", "TIP5P", false],
        ["charmm36/tip5pew.xml", "TIP5P-Ew", false],
        ["implicit/obc2.xml", "OBC (implicit solvent)", false],
        ["implicit/GBn.xml", "GBn (implicit solvent)", false],
        ["implicit/GBn2.xml", "GBn2 (implicit solvent)", false]
]

var charmm36_2024WaterModels = [
        ["charmm36_2024/water.xml", "CHARMM default", true],
        ["charmm36_2024/tip3p-pme-b.xml", "TIP3P-PME-B", false],
        ["charmm36_2024/tip3p-pme-f.xml", "TIP3P-PME-F", false],
        ["charmm36_2024/spce.xml", "SPC/E", false],
        ["charmm36_2024/tip4pew.xml", "TIP4P-Ew", false],
        ["charmm36_2024/tip4p2005.xml", "TIP4P-2005", false],
        ["charmm36_2024/tip5p.xml", "TIP5P", false],
        ["charmm36_2024/tip5pew.xml", "TIP5P-Ew", false],
        ["implicit/obc2.xml", "OBC (implicit solvent)", false],
        ["implicit/GBn.xml", "GBn (implicit solvent)", false],
        ["implicit/GBn2.xml", "GBn2 (implicit solvent)", false]
]

var amoebaWaterModels = [
        ["explicit", "Explicit", true],
        ["implicit", "Implicit", false]
]

function optionChanged() {
    // Update UI elements.

    forcefield = document.getElementById("forcefield").value;
    waterSelect = document.getElementById("waterModel");
    currentWater = waterSelect.value;
    if (forcefield == 'charmm_polar_2019.xml' || forcefield == 'charmm_polar_2023.xml')
        document.getElementById("waterModelRow").hidden = true;
    else {
        document.getElementById("waterModelRow").hidden = false;
        if (forcefield == "amber14-all.xml")
            models = amber14WaterModels;
        else if (forcefield == "amber19-all.xml")
            models = amber19WaterModels;
        else if (forcefield == "charmm36.xml")
            models = charmm36WaterModels;
        else if (forcefield == "charmm36_2024.xml")
            models = charmm36_2024WaterModels;
        else if (forcefield == "amoeba2018.xml")
            models = amoebaWaterModels;
        while (waterSelect.length > 0)
            waterSelect.remove(0)
        for (i = 0; i < models.length; i++) {
            option = document.createElement("option");
            option.value = models[i][0];
            option.text = models[i][1];
            waterSelect.add(option);
        }
        for (i = 0; i < models.length; i++)
            if (models[i][2])
                waterSelect.selectedIndex = i;
        for (i = 0; i < models.length; i++)
            if (currentWater == models[i][0])
                waterSelect.selectedIndex = i;
    }
    files = document.getElementById("file").files;
    document.getElementById("file_label").textContent = (files.length == 0 ? "" : files[0].name);
    document.getElementById('continue').disabled = !document.getElementById("file").value;
}
optionChanged()
</script>
{% endblock %}