{% extends "layout.html" %}

{% macro fileinput(id) %}
    <div class="input-group">
        <label class="btn btn-default btn-file input-group-addon">
            Browse... <input type="file" name="{{ id }}" id="{{ id }}" style="display: none" onchange="optionChanged()"/>
        </label>
        <span id="{{ id }}_label" class="form-control"/>
    </div>
{% endmacro %}

{% block title %}Select Input Files{% endblock %}
{% block body %}
Select the input file and options for how to model it.
<p/>
<form method="post" enctype="multipart/form-data" action="{{ url_for('configureFiles') }}" class="form-horizontal">
    <div class="form-group">
    <label for="filename" class="control-label col-md-2">Input File</label>
        <div class="col-md-10">{{ fileinput('file') }}</div>
    </div>
    <div class="form-group">
    <label for="forcefield" class="control-label col-md-2">Force Field</label>
    <div class="col-md-10"><select name="forcefield" id="forcefield" class="form-control" onchange="optionChanged()">
        <option value="amber99sb.xml">AMBER99SB</option>
        <option value="amber99sbildn.xml" selected>AMBER99SB-ILDN</option>
        <option value="amber03.xml">AMBER03</option>
        <option value="amber10.xml">AMBER10</option>
        <option value="amoeba2013.xml">AMOEBA 2013</option>
        <option value="charmm_polar_2013.xml">CHARMM Polar 2013</option>
    </select></div>
    </div>
    <div id="waterModelRow" class="form-group">
    <label for="waterModel" class="control-label col-md-2">Water Model</label>
    <div class="col-md-10"><select name="waterModel" id="waterModel" class="form-control">
        <option value="tip3p.xml">TIP3P</option>
        <option value="tip3pfb.xml" selected>TIP3P-FB</option>
        <option value="tip4pew.xml">TIP4P-Ew</option>
        <option value="tip4pfb.xml">TIP4P-FB</option>
        <option value="tip5p.xml">TIP5P</option>
        <option value="spce.xml">SPC/E</option>
        <option value="implicit">OBC (implicit solvent)</option>
    </select></div>
    </div>
    <div id="amoebaWaterModelRow" class="form-group" hidden>
    <label for="amoebaWaterModel" class="control-label col-md-2">Water Model</label>
    <div class="col-md-10"><select name="amoebaWaterModel" id="amoebaWaterModel" class="form-control">
        <option value="explicit">Explicit</option>
        <option value="implicit">Implicit</option>
    </select></div>
    </div>
    <input type="submit" value="Continue" id="continue" class="btn" disabled="true"/>
</form>
<script>
function optionChanged() {
    // Update UI elements.

    forcefield = document.getElementById("forcefield").value;
    document.getElementById("waterModelRow").hidden = (forcefield == 'amoeba2013.xml' || forcefield == 'charmm_polar_2013.xml');
    document.getElementById("amoebaWaterModelRow").hidden = (forcefield != 'amoeba2013.xml');
    document.getElementById("file_label").textContent = document.getElementById("file").value
    document.getElementById('continue').disabled = !document.getElementById("file").value;
}
optionChanged()
</script>
{% endblock %}