{% extends "layout.html" %}
{% block title %}Select Input File Type{% endblock %}
{% block body %}
<h1>Welcome to OpenMM!</h1>
What kind of file or files do you have describing the system to simulate?
<p/>
<form method="get" action="{{ url_for('selectFiles') }}">
    <label class="control-label"><input type="radio" name="type" value="pdb" checked/> PDB</label>
    <p style="margin-left:50px">A PDB or PDBx/mmCIF file</p>
    <label class="control-label"><input type="radio" name="type" value="amber"/> Amber</label>
    <p style="margin-left:50px">Amber prmtop and inpcrd files</p>
    <label class="control-label"><input type="radio" name="type" value="charmm"/> CHARMM</label>
    <p style="margin-left:50px">A CHARMM psf file, along with the force field definition in CHARMM format</p>
    <label class="control-label"><input type="radio" name="type" value="gromacs"/> Gromacs</label>
    <p style="margin-left:50px">Gromacs gro and top files</p>
    <input type="submit" value="Continue" class="btn"/>
</form>
{% endblock %}